@media only screen and (max-width: $small-screen-width) {

	.site-nav {
		ul {
			display: none;
		}
	}

	.page-nav {
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		position: absolute;
		font-size: 1.5em;

		& + .container {
			margin-right: 0;

			h1 {
				padding-right: 1.33em;
			}
		}

		.nav-button {
			display: block;
		}

		& > .page-nav-content {
			display: none;
			background: white;
			position: relative;
			@include box-shadow(0px, 2em, 4em, white);

		}

		&.open {
			& > .page-nav-content {
				display: block;
				padding-bottom: #{$line-height};
			}
		}
	}

}

@media only screen and (max-width: 50em) {

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4, h5, h6 {
		font-size: 1.2em;
	}

	.site-header {
		font-size: 0.8em;
	}

	.post-list {
		.title {
			font-size: 1.92em;
		}
	}

}

@media only screen and (max-width: 30em) {

	body {
		font-size: 10pt;
	}

	.page-nav {
		.nav-button {
			width: 2em;
			height: 2em;
		}
	}

}
