@media only screen and (max-width: $small-screen-width) {

	.site-nav {
		ul {
			display: none;
		}
	}

	.page-nav {
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		position: absolute;
		font-size: 1.5em;

		& + .post {
			margin-right: 0;

			h1 {
				padding-right: 1.33em;
			}
		}

		.nav-button {
			display: block;
		}

		& > ul {
			display: none;
			background: white;
			position: relative;
			@include box-shadow(0px, 2em, 4em, white);

		}

		&.open {
			& > ul {
				display: block;
				padding-bottom: #{$line-height};
			}
		}
	}

}
