---
---

$line-height: 1.66em;
$body-font: normal 13pt open-sans, "Helvetica Neue", sans-serif;
$code-font: normal #{0.95em}/#{$line-height} "fira-mono", "Andale Mono", Consolas, monospace;
$print-font: normal normal 8pt open-sans, "Helvetica Neue", sans-serif;
$text-color: #202020;
$back-color: #404040;
$link-color: #6080c0;
$link-hover-color: #294b8f;

$page-width: 60em;
$header-height: 5em;
$footer-height: 10em;
$footer-top-margin: 5em;

$small-screen-width: #{$page-width * 0.75};

$transition-time: 0.1s;
$header-transition-time: 0.5s;

@import '_normalize';
@import '_main';
@import '_mixins';
@import '_typography';
@import '_layout';
@import '_theme';
@import '_code';
@import '_responsive';
@import '_player';
@import '_comments';
@import '_icons';
