/* @group Theme */

strong {
	font-weight: 600;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
	}
}

.site-footer {
	.wrapper {
		padding-top: 1em;
	}

	.icon {
		line-height: 2em;

		img {
			width: 1.5em;
			height: 1.5em;
			vertical-align: -0.36em;
		}
	}
}

.button {
	color: white;
	background: $link-color;
	border-radius: 0.5em;
	padding: 0.2em 0.66em;
	@include display-inline();

	&:hover {
		color: white;
		background-color: $link-hover-color;
	}
}

strong .button {
	font-weight: normal;
	background-color: $back-color;

	&:hover {
		background-color: $text-color;
	}
}

.buttons {
	padding: $line-height;
	background: url(img/lines.svg) center top fixed;

	* + & {
		margin-top: $line-height;
	}
}

.buttons {
	text-align: center;

	.button {
		margin: 0.5em;
	}
}

a,
.button {
	@each $vendor in $vendors {
		#{$vendor}transition: color $transition-time, background-color linear $transition-time;
	}
}

.site-title,
.page-meta-nav .icon a {
	@each $vendor in $vendors {
		#{$vendor}transition: opacity linear $transition-time;
	}
}

.site-title,
.page-meta-nav .icon a {
	&:hover {
		opacity: 0.94;
	}
}

h2, h3 {
	.header-file {
		font-size: 0.8em;

		var {
			color: $link-hover-color;
		}
	}
}

/* @end */

/* @group Sound */

.player {
	vertical-align: middle;
	@include display-inline();

	.button {
		width: 1em;
		height: 1em;
		margin: 0;
		padding: 0;
		background: #404040 url(img/player.svg);
		border-radius: 0.5em;
		background-size: 300% 100%;
		background-position: -100% 0%;
		font-size: 3em;
		text-indent: -9999px;
		@include display-inline();

		&:hover {
			background-color: #202020;
		}

		& + .label {
			margin-top: 0.2em;
		}

		.label + & {
			margin-bottom: 0.2em;
		}
	}

	&.loading {
		.button {
			background-color: #404040;
			background-position: -150% 0%;
		}
	}

	&.playing {
		.button {
			background-color: #202020;
			background-position: -50% 0%;
		}
	}

	&.error {
		.button {
			background-color: #7f0000;
			background-position: 0% 0%;
		}
	}
}

/* @end */

@media print {

	.button {
		color: $text-color;
		background: transparent;
	}

	.buttons {
		background: transparent;
	}

}
