/* @group Typography */

@import url(http://static.monoxid.net/fonts/open-sans/all.css);
@import url(http://static.monoxid.net/fonts/bitstreamvera/all.css);

html, body, button, input, textarea {
	font: $body-font;
	color: $text-color;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	font-weight: normal;
}

h1 {
	margin-top: #{$line-height / 3};
	font-size: 3em;
}

h2 {
	margin-top: #{$line-height / 2.4};
	font-size: 2.4em;
}

h3 {
	margin-top: #{$line-height / 1.8};
	font-size: 1.8em;
}

h4 {
	margin-top: #{$line-height / 1.2};
	font-size: 1.2em;
	font-weight: 600;
}

p, ol, ul, blockquote, pre {
	line-height: $line-height;
	margin-top: $line-height;
	margin-bottom: 0;
}

pre, code, var {
	font: $code-font;
}

strong {
	code, var {
		font-weight: bold;
	}
}

dl, menu, ol, ul {
	margin: $line-height 0;
}

dt {
	margin-bottom: #{$line-height / 2};
}

dd {
	margin-left: 2em;

	& + dt {
		margin-top: $line-height;
	}

	& > p:first-child {
		margin-top: 0;
	}
}

img {
	border: 0;
}

input[type=submit],
input[type=button],
input[type=reset],
button {
	cursor: pointer;
}

/* @end */

@media print {

	html, body, button, input, textarea {
		font: $print-font;
	}

}