<footer class="site-footer">

<div class="wrapper">

	<div class="footer-column">
		<!--<div class="icon github">
			<a href="https://github.com/detomon/"><img src="/assets/github.svg" width="16" height="16" alt="GitHub" /> GitHub</a>
		</div>-->
		<!--<div class="icon monoxid">
			<a href="#"><img src="/assets/monoxid.svg" width="16" height="16" alt="Monoxid" /> Monoxid</a>
		</div>-->
		<!--<div class="icon soundcloud">
			<a href="#"><img src="/assets/soundcloud.svg" width="16" height="16" alt="SOundcloud" /> Soundcloud</a>
		</div>-->
	</div>

</div>

</footer>
