<nav class="page-meta-nav">
	<ul>
		<li class="icon github"><a href="https://github.com/detomon" title="GitHub"><span class="monoxidicon circle-github"></span> <span class="title">GitHub</span></a></li>
		<li class="icon soundcloud"><a href="https://soundcloud.com/detomon" title="Soundcloud"><span class="monoxidicon circle-soudcloud"></span> <span class="title">Soundcloud</span></a></li>
		<li class="icon monoxid"><a href="http://monoxid.net" title="Monoxid"><span class="monoxidicon circle-monoxid"></span> <span class="title">Monoxid</span></a></li>
	</ul>
</nav>
