---
layout: default
---
<nav class="page-nav">
	<button class="nav-button">Open page navigation</button>
	<div class="page-nav-content">
		{% include pagetree.html context="/" level = 0 %}
	</div>
</nav>
<div class="post container">

	<header class="post-header">
		<h1>{% if page.full_title %}{{ page.full_title }}{% else %}{{ page.title }}{% endif %}</h1>
	</header>

	<article class="post-content">
		{{ content }}
	</article>

{% if page.hide_comments or 1 %}
{% else %}
	<div class="say-comment-box"></div>
	<script type="text/javascript" src="https://monoxid.net/say/js/say.js"></script>
{% endif %}

</div>
